html {
    margin: 0 !important;
    padding: 0;
}

.home {
    background-image: url("img/001.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 1em;
    height: 80vh;
    position: relative;
}

.arrow-down {
    // margin-top: 6em;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);

    a {
        color: #fff;
    }
}

.about-main {
    background-color: #eee;
    text-align: center;
    color: black;
    // height:500px;
}

.about,
.services {
    text-align: center;
    color: black;

}

.portfolio {
    background-color: #fff;
    text-align: center;
}

.contact {
    background-color: #fff;
    text-align: center;
}

.content {
    padding-top: 2em;
    padding-bottom: 1em;
}

.home-content {
    padding-top: 6em;

    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
    }

    h4 {
        font-family: 'Noto Serif', serif;
        font-size: 16px;
        color: #fff;
    }
    p {
        color:#fff !important;
    }
}


//Products   

// html {
//   overflow-y: scroll;
// }

.prod-container {
    position: relative;
    // width: 415px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#filters {
    margin: 1%;
    margin-left: 23px;
    padding: 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

#filters li {
    float: left;
}

#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

#filters li span.active {
    background: black;
    color: #fff;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 80%;
    margin: 10px;
    display: none;
    // float:left;
    overflow: hidden;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}

.portfolio img {
    width: 100%;
    height: 180px;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
    font-family: 'Noto Serif', serif;
}

.portfolio {
    display: inline-block;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}

.portfolio:hover .label {
    bottom: 0;
}

.portfolio:hover img {
    top: -30px;
}

#portfoliolist {
    // border: red 1px solid;
    text-align: center;
}

.products-container {
    padding: 2em;
    padding-left: 3em;
    padding-bottom: 2em;

    p {
        text-align: left;
        color: black;
        font-family: 'Noto Serif', serif;
        font-size: 14px;
    }

    h4 {
        font-size: 25px;
        text-align: left;
        font-family: 'Oswald', sans-serif;
    }
}


// margin-bottom: 1em;
// margin-top: 1em;
// font-family: 'Oswald', sans-serif;



.products,
.contact,
.news {
    background-image: url("img/001.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 8em;
    height: 50vh;
}

.products,
.contact,
.news {
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: #fff;
    }
}

// .products-container, .contact-container {
//     padding:1em;
// }

//About

.about-main {
    height: auto;
    padding: 2em;
    padding-top: 3em;
}

.about-content {
    padding: 0.5em;
}

.about-info {
    border-radius: 2px;
    padding-bottom: 2em;
    // padding-top:0;

    h4 {
        font-size: 14px;
        text-align: left;
        font-family: 'Noto Serif', serif;

    }

    h1 {
        font-size: 25px;
        text-align: left;
        margin-bottom: 1em;
        margin-top: 1em;
        font-family: 'Oswald', sans-serif;
    }

    h2 {
        font-size: 16px;
        text-align: left;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-style: italic;
    }
}

.about-image {
    height: 300px;
    width: 300px;
    border-radius: 2px;
}

//Services

.services {
    padding: 2em;
}

.service-content {
    h2 {
        font-size: 16px;
        text-align: left;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 1em;
    }

    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: black;
        text-align: left;
    }

    span {
        font-size: 14px;
        text-align: left;
        font-family: 'Noto Serif', serif;
    }
}

.featured-content {
    h4 {
        margin-top: 0.35em;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
    }

    p {
        font-family: 'Noto Serif', serif;
        font-size: 14px;
        color: black;
    }
}

.service-wrap {
    padding-top: 1em;
}

.service-text {
    p {
        text-align: left;
    }
}

//Portfolio

.portfolio-box {
    .portfolio-content {
        position: relative;

        img {
            opacity: 1;
            height: 200px;
            width: 95%;
            margin-top: 1em;
            display: block;
            transition: 0.5s ease;
            backface-visibility: hidden;
        }
    }
}

.portfolio-box:hover img {
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-box:hover .middle {
    opacity: 1;
}

.portfolio-content {
    padding-top: 1em;

    h2 {
        font-size: 16px;
        text-align: left;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        padding-bottom: 0.5em;
        font-style: italic;

    }

    p {
        margin-top: 0.35em;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: left;
        color: black;
    }

    .portfolio-text {
        padding: 2em;
    }
}

//Contact Form

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

p {
    color: #999;
    margin-bottom: 1em;
    ;
    text-align: center;
}

strong {
    color: #333;
}

#wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    padding-top: 0;

}

.page-head-image img {
    border-radius: 50%;
}

#form-trabalhe {
    margin-top: 30px;
    text-align: left;
}

label {
    font-weight: normal;
    margin-top: 15px;
}

input {
    border: 2px solid #CCC !important;
    height: 35px;
    border-radius: 3px;
    max-width: 100%;
}

.input-group-addon {
    border: 2px solid #CCC !important;
    border-right: 0px !important;
}

.btn {
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 0;
    text-align: left;
}

// #form-work {
//  border:1px solid black;
//  padding:1em;
//  border-radius:4px;
// }

// .form-right {
//     padding: 1.5em;

// }

form {
    padding-bottom: 0;
}

.contact-details>h4 {
    margin: 0;
}

//Content

.home-content {
    margin-top: 4em;

    h1 {
        color: white;
    }

    h4 {
        color: #eeeeee;
    }

}

.contact-details {
    padding: 2em;
    padding-left: 3em;
    padding-bottom: 0;

    h4 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        margin-bottom: 0.5em;
    }

    p {
        text-align: left;
        font-family: 'Noto Serif', serif;
        font-size: 14px;
        color: black;
    }
}

form>.heading {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 30px;
    margin-bottom: 1em;
}

.form-right {
    // padding: 3em;
    padding-top: 1em;
    padding-bottom: 2em;

    h4 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
}

//Footer

.footer {
    height: 640px;
    background-color: #033332;

    p {
        color: #FFF;
        padding-top: 1em;
        margin-bottom: 5px;
        font-family: 'Noto Serif', serif;

    }

    .copyright {
        font-size: 15px;
    }

    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: #fff;
    }

    h1 {
        font-family: 'Noto Serif', serif;
        font-size: 16px;
        font-style: italic;
        color: #fff;
        font-weight: bold;
        margin-bottom: 1em;
    }

    ul>li {
        list-style-type: none;

        a {
            color: #fff;
            font-family: 'Noto Serif', serif;
            font-size: 12px;
        }
    }
}

.sitemap {
    padding: 2em;
    padding-bottom: 0;
}

.social-media {
    width: 80px;
    margin: auto;

    i {
        font-size: 25px;
        text-align: center;
    }
}

.social-media {
    a {
        color: #FFF;
    }

    a:hover {
        color: #eee;
    }
}

//News 

.news-heading {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;

}

article {
    margin: 2em;
    margin-top: 3em;
    margin-bottom: 3em;

    p {
        text-align: left;
        margin-top:0;
    }
}

.single-post {
    border: solid 1px rgba(0,0,0,0.2);
    border-radius:3px;
    margin:1em;
    padding:1em;
     p {
        color: black;
        font-family: 'Noto Serif', serif;
            font-size: 16px;
    }
}

.post-details {
    display: flex;
    span {
        // margin-right: 0.5em;
        color: black;
       }    
   }


       //Single page

.page-header-title {
    h1 {
        margin-top: 0.2em;
        margin-bottom: 0;
    }
}

.single-image {
    margin:1em;
    margin-top: 0;
    img {
        height: auto;
        width: 370px;
        margin-top: 1em;
        margin-right: 1em;
    }
}

.project-text {
     p {
        color: black;
        text-align: left;
        font-family: 'Noto Serif', serif;
    }
}

// .button {
//     text-align: center;
// }

.contact-button {
    // border: 1px red solid;
    padding:0.5em;
    border-radius:4px;
    width: 220px;
    background-color: black;
    color: white;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.return-button {
    margin-bottom: 1em;
    text-align: center;
}